<h1>Вітаю на сайті Романюка Івана Івановича</h1>
<h2>Контактна інформація</h2>
<p>
  <b>Email: </b>
  <a href="mailto:romanukivan619@gmail.com">romanukivan619@gmail.com</a>
</p>
<p>
  <b>Телефон:</b>
  +380 653 534 512
</p>
<p>
  <a target="_blank" href="https://facebook.com"><img src="assets/Screenshot_2.png" alt=""></a>
  <a target="_blank" href="https://twitter.com"><img src="assets/Screenshot_4.png" alt=""></a>
  <a target="_blank" href="https://instagram"><img src="assets/Screenshot_6.png" alt=""></a>
</p>
<h2>Про мене</h2>
<p>Мене звати Іван. Я живу в селі Ілемня Івано-Франківської області.</p>
<p>Деякі із моїх улюблених занять - це читати, слухати музику, грати в відео ігри. Це заняття які, мені дуже подобаються і я захоплююся ними щодня.  </p>
<p>Мої кар'єрні прагнення - стати розробником сайтів. </p>
<h2>Навчання</h2>
<table>
  <tr>
    <th>
      Школа:
    </th>
    <td>
      Ілемнянский Ліцей
    </td>
  </tr>
  <tr>
    <th>
      Класс:
    </th>
    <td>
      8
    </td>
  </tr>
</table>
